
.pagination {
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    margin-bottom: 100px;
}

a.page-link {
    color: rgb(0, 145, 65);
}

a.page-link:hover {
    color: rgb(57, 77, 17);
}

.page-item.active a {
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

.page-item.active {
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    color: white;
}