.user-delivery-info-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 235px;
  margin-bottom: 135px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-delivery-info-container h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 1px solid #888;
  padding-bottom: 10px;
}

.user-delivery-info-table {
  width: 100%;
  border-collapse: collapse;
}

.duser-delivery-info-table thead {
  background-color: #f1f1f1;
}

.user-delivery-info-table th,
.user-delivery-info-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-delivery-info-table th {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  text-align: center;
  border: 1px solid #888;
  background-color: #ccc;
}

.user-delivery-info-table td {
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
}

.user-product-image {
  width: 100px;
  height: auto; 
}