<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="b2o4.mapper.MyPageMapper">
	<!-- 마이페이지 정보 보기 -->
	<select id="getMemberInfo">
		SELECT * FROM member WHERE memberId = #{memberId}
	</select>
	
	<!-- Modal 비밀번호 입력 확인 받기 -->
	<select id="getPasswordMemberId">
		SELECT * FROM member
		WHERE memberId = #{memberId} 
		AND memberPw = #{memberPw}
	</select>

	<!-- 마이페이지 수정 하기 -->
	<update id="updateMemberInfo" parameterType="b2o4.dto.MyPage">
		UPDATE member
		SET memberPw = #{memberPw},
		memberEmail = #{memberEmail},
		memberName = #{memberName},
		memberPhone = #{memberPhone},
		memberAddress = #{memberAddress},
		memberId = #{memberId},
		memberProfile = #{memberProfile}
		WHERE memberId = #{memberId}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="int">
		DELETE FROM member WHERE
		memberNo = #{memberNo}
	</delete>
</mapper>